<div *ngIf="loading; else parent">
  <img src="/assets/img/spinner.gif" alt="" class="spinner" />
</div>
<ng-template #parent>
  <div class="parent" *ngIf="productos.length > 0">
    <div class="item" *ngFor="let item of productos" (click)="productoSeleccionado(item)">
      <div *ngIf="item.image !== undefined" class="imagen-container">
        <img class="imagen-producto" src="{{ item.image.url }}" alt="" />
      </div>
      <div class="item-details-container">
        <h2>{{ item.name }}</h2>
      </div>
    </div>
  </div>
</ng-template>