

<div id="appDelivery" class="delivery-component">

  <div class="product-header">
    <div class="top-right">
      <button mat-raised-button color="primary" (click)="saveEdition()">Save</button>
    </div>

  <input *ngIf="dataSelected" type="text" class="product-name"  [(ngModel)]="dataSelected.name">

  </div>

  <input style="display: none;" #imageInput id="uploadPic" type="file" placeholder="suba" (change)="onFileSelected(imageInput)">

  <!-- images -->
  <div class="parent-grid">
    <div class="column">
      <input
        type="file"
        id="imageInputFuncione"
        style="visibility: hidden; opacity: 0;"
        #imageInput
        *ngIf="onEdit"
        (change)="onFileSelected(imageInput, dataSelected)"
      />
    </div>
  </div>
  <!-- (change)="onFileSelected(imageInput,dataSelected)" -->
  <p class="ml-5 lead">Photo</p>
  <!-- photo loaded from pc -->
  <div class="photo-container">
    <div class="picture-container" *ngIf="imgUrl">
      <img class="picture-container__picture" src="{{ imgUrl }}" alt="" />
    </div>
    <!-- photo from database -->
    <div class="picture-container" [@fadeInOnEnter] *ngIf="dataSelected.image">
      <h1>{{dataSelected.name}}</h1>
      <img
        class="picture-container__picture"
        src="{{ dataSelected.image.url }}"
        alt=""
      />
    </div>

    <!-- photo deleted -->
    <div class="picture-container" [@fadeInOnEnter] *ngIf="dataSelected.image == null && !imgUrl">
      <h1>photo deleted</h1>
     <label for="uploadPic" class="upload-pic">
        <h3>Upload </h3>
     </label>
    </div>




    <div class="img-info">
      <div>
        <p>Photos help customer decide what to order and can increase sales.</p>
        <p>Customers will see this photo in Eatlify app if it's approved</p>

      </div>
      <div class="info-actions">
        <button mat-raised-button color="accent">Add Photo</button>
        <button mat-raised-button>Download</button>
        <button mat-raised-button (click)="removePicture()">Remove</button>
      </div>
    </div>
  </div>

  <!-- images -->

  <!-- <div class="title-box">
    <h1 (click)="popUpActive = !popUpActive">Create Product</h1>
  </div> -->
 <!--  <div
    class="darkbackground"
    (click)="popUpActive = !popUpActive"
    [ngClass]="{ vissibiliyOn: popUpActive, vissibiliyOff: !popUpActive }"
  ></div> -->
<!--   <div
    class="popupCreateProduct"
    [ngClass]="{ normal: popUpActive, efectoRotado: !popUpActive }"
  >
    <app-create-product
      (CerrarPopUp)="onCerrarPopUpFromChild($event)"
    ></app-create-product>
  </div> -->
  <p class="ml-5 my-2 lead">Description (optional)</p>

<div class="mx-auto" style="width: 95% !important;">

      <mat-form-field style="width: 100%; ">
        <textarea matInput
        placeholder="..."
        style="background-color: #2a2a2a;font-size: 21px;"
        cdkTextareaAutosize=false
        [(ngModel)]="dataSelected.description"
        matAutosizeMaxRows=5
        rows=3

           >
        </textarea>
      </mat-form-field>



</div>

<p class="ml-5 my-2 lead">Default price</p>
<div class="px-5 d-flex">
  <mat-form-field class="mr-5 ">
    <mat-label>Price</mat-label>
    <input matInput type="text" [(ngModel)]="dataSelected.price" >
    <button mat-button matSuffix mat-icon-button aria-label="Clear">
      <mat-icon>attach_money</mat-icon>
    </button>



  </mat-form-field>

  <mat-form-field class="mx-5">
    <mat-label>VAT</mat-label>
    <input matInput type="text" [(ngModel)]="percentageIncrease" >

    <button mat-button matSuffix mat-icon-button aria-label="Clear">
      <mat-icon>trending_up</mat-icon>
    </button>

  </mat-form-field>

</div>

<p class="ml-5 my-2 lead">AddOn Product?</p>
<div class="px-5 py-2">
  <mat-slide-toggle [(ngModel)]="dataSelected.addonProduct"></mat-slide-toggle>

</div>



<p class="ml-5 my-2 lead">Item out of stock?</p>
<div class="px-5 py-2">
  <mat-slide-toggle [(ngModel)]="dataSelected.outOfStock"></mat-slide-toggle>

</div>

<p class="ml-5 my-2 lead">Category</p>

<div class="my-2 p-5">

  <mat-select class="category-select" placeholder="Placeholder" [(ngModel)]="dataSelected.category" name="item">
    <mat-option *ngFor="let cat of categoriesArray" [value]="cat.name">
      {{cat.name}}
    </mat-option>

  </mat-select>

</div>
<mat-divider></mat-divider>


<div class="my-2 p-5">

  <mat-accordion>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Customise item
        </mat-panel-title>
        <mat-panel-description>
          Modifier groups allow customers to use toppings, sides and more to customise items
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="d-flex justify-content-start px-5">
        <button class="mx-2" mat-raised-button color="accent">Add modifier group</button>
        <button class="mx-2" mat-raised-button>Copy modifier group</button>
        <button class="mx-2" mat-raised-button>Clear</button>

      </div>


    </mat-expansion-panel>
  </mat-accordion>



</div>
<mat-divider></mat-divider>







</div>
