.modifiersComponent {
    
    text-align: center;
    padding: 1rem;
    width: 100%;
    height: 85vh; 

 
    position: relative;
    width: calc(100% - 23rem);
    margin-left: auto;
  }

  mat-form-field.mat-form-field {
    font-size: 12px;

  }