<div class="container"> 
 

  <div class="side-bar" #sidebar>
    <div class="side-bar__iconBox">
      <label for="toggleSideBarsOff">
        <i class="fas fa-times"></i>
      </label>
    </div>

    <div class="side-bar__element"> 
     
      <a [routerLink]="['products']"  mat-raised-button style="background-color: transparent; padding: 7px; width: 20rem; color: white;  ">

      <mat-icon>shopping_basket</mat-icon>   <label for="toggleProducts" class="side-bar__label" router
      ><a class="link" >Productos Tabla</a></label>
      </a>
      </div>
      

    <div class="side-bar__element"> 
      <a [routerLink]="['categories']" mat-raised-button style="background-color: transparent; padding: 7px; width: 20rem;  ">

      <mat-icon>category</mat-icon>    <label for="toggleCategories" class="side-bar__label"
      ><a class="link" >Categorias</a></label
    >
      </a>
      </div>   


    <div class="side-bar__element"> 
      <a [routerLink]="['create']" mat-raised-button style="background-color: transparent; padding: 7px; width: 20rem;  ">

      <mat-icon>open_in_browser</mat-icon>    
      <label for="toggleCategories" class="side-bar__label"
        ><a class="link">New Product</a></label
      >
      </a>  
      </div>


    <div class="side-bar__element"> 
      <a [routerLink]="['modifierGroups']" mat-raised-button style="background-color: transparent; padding: 7px; width: 20rem;  ">

      <mat-icon>group_work</mat-icon>    
      <label for="toggleCategories" class="side-bar__label"
        ><a class="link">Modifier Groups</a></label
      >
      </a>  
      </div>

      <div class="side-bar__element"> 
        <a [routerLink]="['categories']" mat-raised-button style="background-color: transparent; padding: 7px; width: 20rem;  ">
  
        <mat-icon>menu_book</mat-icon>    <label for="toggleCategories" class="side-bar__label"
        ><a class="link" >Menu</a></label
      >
        </a>
        </div>

      <mat-divider></mat-divider>
<mat-divider></mat-divider>
    
    <div class="side-bar__element"> 
      
       
      <a [routerLink]="['/dashboard/ventas']" mat-raised-button style="background-color: transparent; padding: 7px; width: 20rem; ">
        <mat-icon>web</mat-icon>  
        <label for="toggleCategories" class="side-bar__label"
      ><a class="link">Ventas</a></label
    >
      
      </a>
    
      </div>


    
 
  
   
  </div>

</div>

<router-outlet></router-outlet>
