$primary-color : #2d88ff;
$cool-shadow:   10px 10px 20px #222222a2, 
-10px -10px 20px #3e3e3ea4;

@mixin  tablet {
	@media (min-width:550px){
		@content;
	}
	
}
.tp-container {
	display: flex;
	flex-direction: column;
	width: calc(100% - 23rem);
  margin-left: auto;
  
  justify-content: center;

}

.form-body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	// border: 1px solid white;
	font-size: 1.7rem;
	padding: 0 3rem;
	@include tablet{
		width: 80%;
		margin: 0 auto;
	}
	// transform: scale(1.4);
}
.parent-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-picture {
	position: relative;
	display: flex;
	justify-content: center;
	border: 2px dashed rgb(19, 73, 253);
	background: #333 none repeat scroll 0% 0%;
	flex-direction: column;
	align-items: center;
	padding: 20px 0px;
	box-sizing: border-box;
	width: 43rem;
	margin: 0 2rem;
	height: 14rem;

	
}

.yes-picture{
	
	position: relative;
	display: flex;
	justify-content: center;
	border: 2px dashed rgb(19, 73, 253);
	background: #333 none repeat scroll 0% 0%;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	flex-direction: column;
	align-items: center;
	padding: 20px 0px;
	box-sizing: border-box;
	width: 43rem;
	margin: 0 2rem;
	height: 19rem;

}

.picture-container {
	width: 50rem;
	border-radius: 20%;
	&__picture {
		border-radius: 4%;
		height: 23rem;
		width: 42rem;
		border: 1px solid #3f51b5;
		padding: 4px;
		max-width: 42rem;
		max-height: 23rem;
	}
}


.addon-container{
	display: flex;
	margin: 2% 0;
	align-items: center;

	.addon-info{
		font-size: 15px;
		margin-left: 5%;
		box-shadow: $cool-shadow;
		padding: 10px;
		width: 50%;
	}

}

