html, body {
  margin:0;
  padding:0;
  height: 100%;
  

}

button{
  outline: none;
}

body{
  background-color: #282828;
}

@import "sass/base";
@import "sass/utilities";

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$bakeryjuice-primary: mat-palette($mat-indigo);
$bakeryjuice-accent: mat-palette($mat-blue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$bakeryjuice-warn: mat-palette($mat-red);


// Create the theme object (a Sass map containing all of the palettes).
$bakeryjuice-theme: mat-dark-theme($bakeryjuice-primary, $bakeryjuice-accent, $bakeryjuice-warn);
// $bakeryjuice-theme: mat-light-theme($bakeryjuice-primary, $bakeryjuice-accent, $bakeryjuice-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($bakeryjuice-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
  /* ptable wow*/

/* decorando la table bien elegante*/ 
 
  
  /* mejorando los inpputs de venta bug de cantidad vs precio NaN hacerle la vida facil al usuario*/
  .ui-spinner-up, .ui-spinner-down{
    display: none !important;
  }
  .mat-checkbox-inner-container{
    background: #2d88ff;
  }
  /* Spinner for every sub component*/
  .spinner{
    width: 500px;
    margin: auto;
    display: block;
  }
  .sticky{
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 10;
  }

  .ptableventas table{
    height: 1200px !important;

  }

  .dklfjdllfknjgdlfkngfdkljgnfpskdjnglkdfsg{
    color: #2d88ff;
    background-color:#242424;
  }

  .link{
    &:link{
      color: white;
    }
    &:visited{
      color: white;
    }
  }
  $cool-shadow:   10px 10px 20px #222222a2;
  $primary-color : #2d88ff;


  .product-header{
    width: 100%;
    h1{
      color: #2d88ff;
      font-size: 30px; 
      text-align: start;
      padding: 2% 3%;
      border-bottom: 1px solid $primary-color;
      position: sticky;
  
   
    }
    transform: translateY(-5px);
    background: linear-gradient(145deg, #333333, #2b2b2b);
    box-shadow:  $cool-shadow;
  }


  .p-dropdown-items, .p-inputtext{
    font-size: 13px;
  }